@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Biblioteca Asamblea Legislativa | Recuperar contraseña</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    @System.Web.Optimization.Styles.Render("~/Css")
</head>
<body class="hold-transition login-page">
    @Html.Raw(TempData["msg"])
    <div class="login-box">
        <div class="login-logo">
            <a href="../IniciarSesion/Index"><b>Biblioteca Asamblea Legislativa</b></a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Ingrese los campos para recuperar su sesión</p>
            <form action="@Url.Action("Recuperar", "IniciarSesion")" id="frm" method="post">
                <div class="form-group has-feedback">
                    <input type="email" class="form-control" placeholder="Correo" id="Correo" name="Correo" autocomplete="off" required>
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="number" class="form-control" placeholder="Cédula" id="Cedula" name="Cedula" autocomplete="off" required>
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8">

                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-success btn-block btn-flat">Validar</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
        </div>
        <!-- /.login-box-body -->
    </div>
</body>
</html>