@{
    ViewBag.Title = "Administrador";
    Layout = "~/Views/Shared/_Administrador.cshtml";
}
<div class="content">
    <h1 class="principal-texto">Biblioteca Asamblea Legislativa</h1>
    <!--<img class="principal-imagen" src="~/Imagenes/logo.png"/>-->
    <h1 class="principal-year">2020</h1>
</div>


