@{
    ViewBag.Title = "Principal | GDA";
    string Rol = System.Web.HttpContext.Current.Session["Rol"] as String;
    if (Rol == "Administrador")
    {
        Layout = "~/Views/Shared/_Administrador.cshtml";
    }
    else if (Rol == "Administrador Servicios Bibliotecarios")
    {
        Layout = "~/Views/Shared/_AdministradorSB.cshtml";
    }
    else if (Rol == "Administrador Consultas")
    {
        Layout = "~/Views/Shared/_AdministradorConsulta.cshtml";
    }
    else if (Rol == "Administrador Consultas CIIE")
    {
        Layout = "~/Views/Shared/_AdministradorCIIE.cshtml";
    }
    else if (Rol == "Editar Servicios Bibliotecarios")
    {
        Layout = "~/Views/Shared/_EditarSB.cshtml";
    }
    else if (Rol == "Editar Consultas")
    {
        Layout = "~/Views/Shared/_EditarConsulta.cshtml";
    }
    else if (Rol == "Editar Consultas CIIE")
    {
        Layout = "~/Views/Shared/_EditarCIIE.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Consultar.cshtml";
    }
}
<div class="content">
    <h1 class="principal-texto">Departamento de Gestión Documental y Archivo</h1>
    <img class="principal-imagen" src="~/Imagenes/logo.png"/>
    <h1 class="principal-year">@DateTime.Now.ToString("yyyy")</h1>
</div>


